<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>myCalendar</title>
</head>
<body>
   
    <% if (user) { %>
        <a href="/logout">Logout</a>
    <% } else { %>
        <a href="/login">Login</a>
        <a href="/signup">Sign up</a>
    <% } %>
    <a href="/calendar">Make a calendar</a>

    <!--<script src="/scripts/testscript.js"></script>-->


</body>
</html>