table {
    border-collapse: collapse;
    display: flex;
    justify-content: center;
  }
th,
td {
  border: 1px solid #cecfd5;
  padding: 5px 5px;
  text-align: center;
  width: 8.33%;
}


.d1 {
  background-color: #ff00ff;
}
